[submodule "HelixConstitution"]
	path = constitution
	url = git@github.com:HelixDevelopment/HelixConstitution.git
[submodule "containers"]
	path = containers
	url = git@github.com:vasic-digital/containers.git
[submodule "submodules/ota-protocol"]
	path = submodules/ota-protocol
	url = git@github.com:HelixDevelopment/ota-protocol.git
[submodule "submodules/ota-artifact-validator"]
	path = submodules/ota-artifact-validator
	url = git@github.com:HelixDevelopment/ota-artifact-validator.git
[submodule "submodules/ota-rollout-engine"]
	path = submodules/ota-rollout-engine
	url = git@github.com:HelixDevelopment/ota-rollout-engine.git
[submodule "submodules/ota-update-engine-bridge"]
	path = submodules/ota-update-engine-bridge
	url = git@github.com:HelixDevelopment/ota-update-engine-bridge.git
[submodule "submodules/ota-android-agent"]
	path = submodules/ota-android-agent
	url = git@github.com:HelixDevelopment/ota-android-agent.git
[submodule "submodules/ota-telemetry-schema"]
	path = submodules/ota-telemetry-schema
	url = git@github.com:HelixDevelopment/ota-telemetry-schema.git
[submodule "submodules/http3"]
	path = submodules/http3
	url = git@github.com:vasic-digital/http3.git
[submodule "submodules/helixqa"]
	path = submodules/helixqa
	url = git@github.com:HelixDevelopment/HelixQA.git
